header {
    padding: 0.5rem 1.5rem;
    border: 1px solid black;

    display: flex;
    align-items: center;

    height: 2.2rem;
}

header button {
    height: 1.8rem;

    font-size: 0.8rem;
}

header h1 {
    margin-left: 21rem;

    font-size: 1.8rem;
}